html{
    box-sizing: border-box;
} 

*,
*::after,
*::before{
  box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type:none;
}

button{
background-color:transparent ;
padding: 0;
border: 0;
cursor: pointer;
}
 
.container{
    
padding: 0 10px;
margin: 0 auto;
}
body{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 1.3; 
   width: 100%;
   margin: 0;
   padding: 0;
   background-color: #f8f8f8;

}
.header {
background-image: url(../images/header-bg.jpg);

height: 1080px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.header__top{
    padding-top: 50px;
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 20px;
margin-right: 20px;
}

.menu__btn{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 70px;
height: 23px;
}

.menu__btn span{
background-color: #FF5017;
width: 100%;
height: 3px;
}

.header__content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    position: absolute;
    left: 60px;
 font-size: 345px;
 line-height: 0.8;
 padding: 0;
 margin: 0;
 background: linear-gradient(180deg, #000000 0%, #830B02 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-clip: text;
 text-fill-color: transparent;

}
.subtitle{
    position: absolute;
    z-index: 0;
    top: 530px;
    right: 150px;
font-size: 160px;
background: linear-gradient(90deg, #FF5017 0%, #000000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
align-self: flex-end;

}
.header__images{
position: absolute;
z-index: 1;
left: 0;
right: 0;
bottom: 0;
top:470px;
margin: auto;
max-width: 100%;
}

.info{
    background-color: #f8f8f8;
}

.info{
    padding: 170px 0;
}
.info__title{
    text-align: center;
    line-height: .8;
    font-size: 160px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 100px;
}
.info__img{
  margin: 0 auto;
  max-width: 100%;
  align-items: center;
}
.info__content{
    display: flex;
    margin-bottom: 170px;
    padding-left: 155px;
    padding-right: 100px;
    gap: 94px;
}
.info__list{
    column-count: 2;
    gap: 140px;
}
.info__list dt,
.info__list dd{
display: inline-block;
}
.info__class__line{
    margin-bottom: 22px;
}
.price{
    margin-bottom: 40px;
    font-size: 46px;
}
.order{
padding: 30px 60px;
background: linear-gradient(181.77deg, #FF5017 2.24%, #FF6837 99.25%);
font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
}
.info__galar{
    display: flex;
    justify-content: space-between;
    
    gap: 20px;
    border-radius: 20px;
}
.info__galar img{
    max-width: 100%;
}
.izmena{
    margin-left: 0px;
}
.color{
    background-color: #f8f8f8;
    margin-top: -120px;
}
.color__text{
    text-align: center;
    text-transform: uppercase;
    font-size: 160px;
    margin-bottom: 70px;
}
.color__galary{
    background-color :#13171C;
}
.start,
.end{
width: 100%;
margin: 0 auto;
}
.box{
padding: 170px 50px;
gap: 20px;
display: flex;
justify-content: space-between;
text-align: center;
}
.box img{
max-width: 100%;
border-radius: 20px;
margin-bottom: 20px;
}
.box p{
font-size: 36px;
color: #f8f8f8;
} 
.contacts{
    padding-top: 170px;
    padding-bottom: 100px;
    background-color :#13171C;

}
.contacts__title{
    text-align: center;
    margin-bottom: 70px;
    font-size: 36px;
    color:#FF5017 ;
}
.contacts__box{
    display: flex;
    justify-content: space-between;
    gap: 40px 200px;
    padding-left: 300px;
    padding-right: 150px;

}
.contacts__headtext{
    color: #BCBCBC;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.contacts__info{
    max-width: 565px;
}
.contacts__text,
.contacts__text-rules,
.phone{
color: #f8f8f8;
}
.contacts__text{
    padding-top: 10px;
    margin-bottom: 20px;
    max-width: 477px;
}
.contacts__text-rules{
    padding-top: 77px;
    font-size: 14px;
max-width: 340px;
}
.contscts__form{
flex-basis: 594px;
}
.form__input{
display: block;
width: 100%;
margin-bottom: 20px;
max-width: 594px;
padding: 10px;
font-size: 24px;
line-height: 1.3;
font-family: "Inter", sans-serif;
font-weight: 900;
text-transform: uppercase;
color: #f8f8f8;
background-color: transparent;
border: none;
border-bottom:1px solid #f8f8f8;
}
.form__input::placeholder{
    font-size: 24px;
line-height: 1.3;
font-family: "Inter", sans-serif;
font-weight: 900;
text-transform: uppercase;
}

.form__order{
    width: 100%;
    background-color: #FF5017;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer{
    text-align: center;
    padding: 15px 0 90px;
    font-size: 14px;
    color: #f8f8f8;
    background-color: #BCBCBC;
}

.error_js{
    color:red;
}